[Unit]
Description=Grafana Service
After=docker.service
Requires=docker.service
After=wg-quick@wg0.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop -t 2 grafana

[Install]
WantedBy=multi-user.target